    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
            
    <%= f.label :description, "Desc:" %>
    <%= f.text_area :description %>
    
    <%# Show error messages%>                      
	<% if @event.errors.any? %>
	      <ul>
	      <% @event.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	<% end %>